body {
    font-family: 'Gowun Batang', serif;
}
logo {
    padding: 50px;
}
#menubar ul{
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
}
#menubar ul li {
    display: inline-block;
    list-style-type: none;
    padding: 0px 50px;

}
#menubar ul li a{
    text-decoration: none;
    color: black;
}
#menubar ul li a:hover{
    color:dodgerblue;
}
#profile {
    
    position: absolute;
}
table {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
table tr th td{
    font-size: 30px;
    text-decoration: none;
    color: black;
}