body {
    font-family: 'Gowun Batang', serif;
    width: 100%;
    height: 100%;
}
logo {
    padding: 50px;
}
header {
    width: 100%;
    position: fixed;
}
section {
    width: 100%;
    height: 100%;
    padding-top: 200px;
}
#menubar ul{
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
    width: 100%;
    text-align: center;
}
ul li {
    display: inline-block;
    list-style-type: none;
    padding: 0px 50px;

}
ul li a{
    text-decoration: none;
    color: black;
}
ul li a:hover{
    color:dodgerblue;
    font-weight: 800;
}
#profile {
    position: absolute;
}
table {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
table tr th td{
    font-size: 30px;
    text-decoration: none;
    color: black;
    padding-top: 70px;
}
#text{
    color: darkgray;
    font-size: 13px;
    padding-top: 50px;
}
aside {
    width : 0vw;
    height: 100vh;
    float: left;
    font-size: 20px;
    position: fixed;
    display: flex;
    align-items: center;
    margin: 0 30px;
}
.page{
    border-top: 2px solid #cacaca;
}
.pic_travel_page img{
    border-radius: 7px;
}
.pic_favorite_page img{
    border-radius: 90px;
}